@import url('https://googleapis.com');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(132, 132, 132, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Geist', Roboto, sans-serif;
  --heading: 'Geist', Roboto, sans-serif;
  --mono: Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

div {
   font-family: var(--sans);
   justify-items: left ;
   font: 14px/145% var(--sans);
}

nav, .popmenu {
  display: flex;
  width: 90%;
  max-width: 400px;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 16px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.popmenu {
  position: fixed;
  height: 400px;
  bottom: 150px;
  margin: auto;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
}
button:hover {
  outline: none;
  opacity: 1;
}

.icon {
  width: 48px;
  height: 48px;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

body {
  margin: 0;
}

#root {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 18px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 0;
  color: white;
  @media (max-width: 1024px) {
    font-size: 20px;
  font-weight: 800;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
